@model LibararyMVCNil.ViewModel.BooksViewModel




<html>
<head>
    <title></title>


    <style>

       
    </style>
</head>
<body>


    <div class="container-fluid" id="partial_table">
        <table class="table table-striped">
            <thead class="table table-dark">
                <tr>
                    <th>BookId</th>
                    <th>BookName</th>
                    <th>CategoryName</th>
                    <th>PublisherName</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>


                @foreach (var Book in Model.booklist)
                {
                    <tr>
                        <td>@Book.BookId</td>
                        <td>@Book.BookName</td>
                        <td>@Book.CategoryName</td>
                        <td>@Book.PublisherName</td>
                        <td>@Book.Quantity</td>



                    </tr>
                }

            </tbody>

        </table>

    </div>



    




</body>
</html>