@model LibararyMVCNil.ViewModel.BooksViewModel




<html >
<head>
    <title></title>


    <style>

        body {
            background-color: #F5EEF8;
        }


        .main {
            display: flex;
            margin: 4rem;
        }

        .sub_main {
            padding-right: 40px;
        }



        h1 {
            background-color: #7FB3D5;
            padding: 10px;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 700;
        }

        #panel, #flip {
            padding: 5px;
            text-align: center;
            background-color: #e5eecc;
            border: solid 1px #c3c3c3;
        }

        #panel {
            padding: 50px;
            display: none;
        }



        .pagelist ul {
            list-style-type: none;
            display: flex;
        }

            .pagelist ul li {
                padding: 12px;
                margin: 7px;
                border: solid;
            }

        .pagelist input {
            background-color: white;
            color: black;
            border: 2px solid #01090e;
            padding: 10px;
            margin: 5px;
            margin-left: 1px;
            border-radius: 10px;
        }

            .pagelist input:hover {
                background-color: #0094ff;
                color: white;
            }


        .pagestyle {
            background-color: #0a0303;
            color: #fff;
        }


        .btnstyle {
            background-color: #f00;
        }

        .paging-main {
            display: flex;
        }
    </style>
</head>
<body>


    <div class="container-fluid">
        <table class="table table-striped">
            <thead class="table table-dark">
                <tr>
                    <th>BookId</th>
                    <th>BookName</th>
                    <th>CategoryName</th>
                    <th>PublisherName</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>


                @foreach (var Book in Model.booklist)
                {
                    <tr>
                        <td>@Book.BookId</td>
                        <td>@Book.BookName</td>
                        <td>@Book.CategoryName</td>
                        <td>@Book.PublisherName</td>
                        <td>@Book.Quantity</td>



                    </tr>
                }

            </tbody>

        </table>
    </div>


    @*labling*@ 


    <div id="partiallable" class="container-fluid">

        @{
            int FromPage;
            int ToPage;

            var rowsOfPage = Model.RowsOfPage;
            var pagenumbers = Model.PageNumber;
            var totalrecords = Model.RowCounts;


            var ToValueTemp = Model.PageNumber * Model.RowsOfPage;


        }


        @if (Model.PageNumber == 1)
        {
            FromPage = 1;
        }
        else
        {
            FromPage = (rowsOfPage * (pagenumbers - 1)) + 1;
        }

        @if (ToValueTemp > totalrecords)
        {
            ToPage = totalrecords;
        }
        else
        {
            ToPage = ToValueTemp;
        }

        <label id="Records">Showing Records  @FromPage  - @ToPage   of Total Records   @totalrecords </label>



    </div>



    @*paging*@

    <div id="partialpaging" class="pagelist container-fluid">


        @if (Model.PageNumber > 1)
        {
            <input type='button' id='previews' value='<<' />
        }


        @for (var i = 1; i <= Model.TotalPages; i++)
        {

            if (i == Model.PageNumber)
            {
                <input type='button' id='PageNo1' class="pagestyle" value='@Model.PageNumber' />

                @*<button id='PageNo' value=""> @Model.PageNumber </button>*@
            }

            else
            {
                <input type='button' id='PageNo' value='@i' />
                @*<button id='PageNo' value=""> @i</button>*@
            }
        }




        @if (Model.PageNumber != Model.TotalPages)
        {
            <input type='button' id='next' value='>>' />
        }






    </div>







  









</body>
</html>
