@model LibararyMVCNil.ViewModel.BooksViewModel




<html >
<head>
    <title></title>


    <style>

        body {
            background-color: #F5EEF8;
        }


        .main {
            display: flex;
            margin: 4rem;
        }

        .sub_main {
            padding-right: 40px;
        }



        h1 {
            background-color: #7FB3D5;
            padding: 10px;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 700;
        }

        #panel, #flip {
            padding: 5px;
            text-align: center;
            background-color: #e5eecc;
            border: solid 1px #c3c3c3;
        }

        #panel {
            padding: 50px;
            display: none;
        }



        .pagelist ul {
            list-style-type: none;
            display: flex;
        }

            .pagelist ul li {
                padding: 12px;
                margin: 7px;
                border: solid;
            }

        .pagelist input {
            background-color: white;
            color: black;
            border: 2px solid #01090e;
            padding: 10px;
            margin: 5px;
            margin-left: 1px;
            border-radius: 10px;
        }

            .pagelist input:hover {
                background-color: #0094ff;
                color: white;
            }


        #PageNo1 {
            background-color: #0a0303;
            color: #fff;
        }


        .btnstyle {
            background-color: #f00;
        }

        .paging-main {
            display: flex;
        }
    </style>
</head>
<body>


    <div class="container-fluid" id="partial_table">
        <table class="table table-striped" >
            <thead class="table table-dark">
                <tr>
                    <th>BookId</th>
                    <th>BookName</th>
                    <th>CategoryName</th>
                    <th>PublisherName</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody >


                @foreach (var Book in Model.booklist)
                {
                    <tr>
                        <td>@Book.BookId</td>
                        <td>@Book.BookName</td>
                        <td>@Book.CategoryName</td>
                        <td>@Book.PublisherName</td>
                        <td>@Book.Quantity</td>



                    </tr>
                }

            </tbody>

        </table>

    </div>


</body>
</html>
